線上棋類遊玩平台
Online Chess Game Platform
[OCGP]
需求文件(V.0.1)
日期：2025年10月16日
逢甲大學資訊工程系
OCGP 設計小組
OCGP小組名單
製作者：指導教授：
資訊四甲 D1149932 張仁維張志宏 教授
資訊四丙 D1149427 邱禾朋
資訊四丁 D1188123 洪煒桐
資訊四丁 D1204889 楊致承
內容
第一章 簡介
1.1 文件接受準則
   明確且適當地陳述
   完整性
   一致性
   能個別界定 (Uniquely identified)
   能適當地執行
   能驗證
1.2 系統名稱
主系統名稱
線上棋類遊戲平台(Online Chess Game Platform, OCGP)
子系統名稱
選單系統(Menu Subsystem, MS)
房間系統(Room Subsystem, RS)
象棋系統(Chinese Chess Subsystem, CCS)
五子棋系統(Gobang Subsystem, GS)
資料庫系統 (Database Subsystem ,DBS)
1.3 概觀
隨著網路的發展，人的娛樂習慣從實體轉為線上，而那些傳統桌上遊戲逐漸被五花八門的遊戲取代。本計畫將那些傳統遊戲搬運至線上，恢復那些因為需要硬體限制、面對面遊玩的遊戲，使人重新體驗那純粹的快樂。
1.4 文件範圍
這份文件滿足OCGP概念上功能、介面、效能和其他需求,同時也滿足MS、RS、CCS、GS這四個子系統的需求。
1.5 方法
為了確保OCGP計畫可以滿足我們特定的需求、標準和目標,OCGP計畫採用CMMI這個方法,我們試著使用CMMI來達到OCGP計畫的目標,首先我們使用需求發展流程來完成我們的需求文件,之後我們利用需求處理流程和其他相關處理來協助OCGP計劃達到我們所預期目標,CMMI相關資訊來自於III CMMI v1.02
1.6 符號
1.7 控制文件
對OCGP研究計畫書提案的研究
軟體發展成熟度模型 v.1.02
1.8 優先順序
        這份文件中的實作優先順序是依據附加在各項需求上,一個跟著需求指示的單獨的字元為依據.優先順序的代碼如下:
第二章 線上棋類遊戲平台 (OCGP 1.0.0)
2.1 系統描述
線上棋類遊戲平台 (Online Chess Game Platform, OCGP) — 整合網際網路、即時通訊與多人互動技術，提供下列主要線上對戰、配對、交流及管理功能：
提供玩家登入、註冊、建立或加入房間之管理功能，以便進行對戰或邀請好友。
提供即時訊息及聊天功能，使玩家可在遊戲中以文字交流，增進互動性。
提供象棋與五子棋等多種棋類遊戲模組，支援完整規則判定與勝負計算。
提供管理者系統監控與維護功能，包括玩家管理、房間監控、資料備份與查詢。
2.2 系統功能
OCGP提供以下功能:
2.3 介面需求
2.3.1 內部介面
2.3.2 外部介面
2.4 效能需求
2.5 操作概念
提供玩家建立帳號服務
提供玩家選擇遊戲種類服務
提供玩家之間遊玩環境服務
2.6 系統測試需求
第三章 選單系統 (MS 1.1.0)
3.1 子系統描述
本子系統提供使用者玩家註冊個人帳號、選擇遊戲種類功能，為遊戲提供入口。
3.2 功能需求
3.3 介面需求
3.4 效能需求
3.5 操作概念
3.6 安全、可信度、維護需求
3.6.1 安全需求
3.6.2 可信度需求
3.6.3 維護需求
3.7 交付、安裝、環境需求
第四章 房間系統 (RS 1.2.0)
4.1 子系統描述
本系統提供玩家建立房間、加入房間、搜尋房間、配對及即時通訊等功能。
RS包含下列功能：
提供玩家建立及刪除房間功能
提供玩家搜尋及加入公開房間功能
提供玩家邀請好友進入私人房間功能
提供玩家即時聊天功能
提供房主設定遊戲模式與開啟對戰功能
提供房間清單顯示與更新
4.2 功能需求
4.2.1 房間建立與管理
4.2.2 房間搜尋
4.2.3 玩家互動與聊天
4.2.4 遊戲啟動
4.3 介面需求
4.3.1 內部介面
4.3.2 外部介面
4.4 效能需求
4.5 操作概念 
玩家透過房間建立功能，建立或搜尋房間。
玩家房間搜尋功能去查找、加入房間。
玩家透過修改房間設定功能去改房間名跟遊戲模式。
玩家透過遊戲啟動功能開始遊戲。
4.6 安全、可信度、維護需求
4.6.1 安全需求
4.6.2 可信度需求
4.6.3 維護需求
第五章 象棋系統 (CCS 1.3.0)
5.1 子系統描述
本系統提供玩家進行象棋對弈功能，在維持象棋規則的運行。
提供玩家在規則內移動棋子的功能
提供結束條件判斷的功能
5.2 功能需求
5.3 介面需求
5.3.1 內部介面
5.3.2 外部介面
5.4 效能需求
4.5 操作概念 
對戰開始，初始化棋盤，玩家顯示棋盤
每位玩家輪流操作介面，移動棋子
若棋局符合結束條件，顯示遊戲結果
5.6 安全、可信度、維護需求
5.6.1 安全需求
5.6.2 可信度需求
5.6.3 維護需求
第六章 五子棋系統 (GS 1.4.0)
6.1 子系統描述
本系統提供玩家進行五子棋對弈功能，在維持五子棋規則的運行。
提供玩家在規則內放置棋子的功能
提供結束條件判斷的功能
6.2 功能需求
6.3 介面需求
6.3.1 內部介面
6.3.2 外部介面
6.4 效能需求
6.5 操作概念 
對戰開始，初始化棋盤，玩家顯示棋盤
每位玩家輪流操作介面，放置棋子
若棋局符合結束條件，顯示遊戲結果
6.6 安全、可信度、維護需求
6.6.1 安全需求
6.6.2 可信度需求
6.6.3 維護需求
第七章 資料庫系統 (GS 1.5.0)
7.1 子系統描述
本系統提供線上棋類遊戲平台 (OCGP) 所有資料的儲存、管理與檢索功能，確保玩家資料、遊戲紀錄及系統設定的安全與一致性。它支援多種資料操作，以滿足 OCGP 各子系統的資料需求。
7.2 功能需求
7.3 介面需求
7.3.1 內部介面
7.3.2 外部介面
7.4 效能需求
7.5 操作概念
資料儲存： 接收來自各子系統的資料，並按照預定義的資料模型進行儲存。
資料檢索： 根據各子系統的請求，從資料庫中檢索所需資料。
資料更新： 處理資料的修改與刪除操作，確保資料的一致性。
資料維護： 定期進行資料備份、索引優化等維護工作。
7.6 安全、可信度、維護需求
7.6.1 安全需求
7.6.2 可信度需求
7.6.3 維護需求
附錄A 追蹤矩陣
A1.水平追蹤矩陣
OCGP 系統追蹤矩陣
房間系統追蹤矩陣
象棋系統追蹤矩陣
五子棋系統追蹤矩陣
資料庫系統追蹤矩陣
A2. 垂直追蹤矩陣
房間系統追蹤矩陣
象棋系統追蹤矩陣
五子棋系統追蹤矩陣
資料庫系統追蹤矩陣